server:
  port: 7777

spring:
  datasource:
    url: jdbc:mariadb://db:3306/appdb?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: app
    password: app1234
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: info

